[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llmlingua = "*"
transformers = ">=4.26.0,<4.50.0"
torch = "*"
accelerate = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.11"
